*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header nav{
    
    display: flex;
    justify-content: space-evenly;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}
nav a{
    
    font-size: 0.7rem;
    text-decoration: none;
    padding: 1rem;
}
h1{
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
}
h2{
    
    margin-top: 4rem;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;

}
h3{
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    
}
h5{
    color: black;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    
    
}
.titulo{

    color: blue;
}
.lista{
    display: flex;
    justify-content: space-evenly;
}


.formulario{
    
    
    margin: 0 auto;
    width: 60%;
    padding: 2rem;
    
    
}
.campo{
    font-size: 2rem;
    
    
    

}

.formulario legend{
    display: flex;
    text-align: center;
    font-size: 2rem;
    color:white;
    font-family: Verdana, Geneva, 
    Tahoma, sans-serif;
    background-color: blue;
    padding: 0.8rem 14rem;
    
    
}
.controls{
    
   flex: 0 0 9rem;
   margin: 2rem;
   
   
   
   
    
    
}





