*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header nav{
    
    display: flex;
    justify-content: space-evenly;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}
nav a{
    
    font-size: 0.7rem;
    text-decoration: none;
    padding: 1rem;
}
h1{
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
}
.titulo{
    color: blue;
}
h2{
    font-size: 2.2rem;
    text-align: center;
    padding: 2.5rem;
}

h4{
    text-align: center;
    text-transform: uppercase;
    margin-bottom:2rem;
    font-size: 2rem;
}
h5{
    color: black;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    
    
}
.sobre_nosotros{
    
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0 auto;
    max-width: 70rem;
    justify-items: center;
    align-items: center;
    
    
}
.sobre_nosotros p{

    font-size: 1rem;
    line-height: 1.5rem;
            
}
    
.final_de_pagina{
    
        display: flex;
        flex-direction:row;
        justify-content:space-evenly;
        padding: 4rem;
           
}
.final_de_pagina li{
    
        list-style: none;
        
}
.parrafo_final{
        padding: 2rem;
        text-align: center;
    
}
